footer {
    display: flex;
    background-color: #ffdcba;
}

iframe {
    width: 300%;
    height: 100px;
    border: none;
}

.position {
    float: right;
}
.tel,
.map,
.position {
    flex: 1;
    display: flex;
}

.tel img,
.position img {
    width: 5%;
    height: 50px;
    margin-right: 3%;
}
.tel,
.position {
    margin: 2% 0 0 2%;
}
.position img {
    margin-left: 50%;
}
