body {
    margin: 0;
}
nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    width: 12%;
}

nav a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
}

.test,
.test1 {
    margin-top: 2%;
}

.test2 {
    margin-left: 14%;
}

.logo {
    width: 180%;
    position: relative;
    z-index: 999;
}
.test,
.test1 {
    font-family: cursive, sans-serif;
    font-size: 1.3em;
}
/* au dessus il s'agit du css du header*/
