.mediaQ {
    display: none;
}

label {
    display: block;
    width: 200px;
    float: left;
}

.formulaire {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.formulaire form {
    background-color: burlywood;
    padding: 5.3%;
    border-radius: 5%;
    font-size: 1.3em;
}

.co {
    align-items: center;
}
