body {
    margin: 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 999;
    display: flex;
}

.logo {
    width: 180%;
    position: relative;
    z-index: 999;
}
.titre,
.titreFin {
    font-family: cursive, sans-serif;
    font-size: 1.3em;
    margin: 2% 0% 0 0;
    width: 15%;
}
.titreFaq {
    margin-left: 5%;
}
/* au dessus il s'agit du css du header*/
