.mediaQ {
    display: none;
}
label {
    display: block;
    width: 200px;
    float: left;
}

.formulaire {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

form {
    background-color: burlywood;
    padding: 5%;
    border-radius: 5%;
    font-size: 1.3em;
}
