.dropdownmenu,
.dropdownmenu ul {
    /* Pour les sous-menus */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.dropdownmenu ul {
    display: none;
}
.dropdownmenu li {
    position: relative;
}
.dropdownmenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 3px 0 0 10px;
}
.dropdownmenu li:hover ul {
    display: block;
    position: relative;
    top: 36px;
    left: 0px;
    z-index: 100;
}

div li a {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
}
.faq {
    margin: 10% 25% 10% 25%;
}

.baba {
    padding: 0% 0% 20% 0%;
    background-color: white;
    text-align: justify;
    text-justify: inter-word;
}

.question {
    font-size: 2em;
    margin-bottom: 5%;
}

.avis {
    margin: 0 25% 5% 25%;
    text-align: center;
}

.avis a img {
    width: 70%;
}

.mediaQ {
    display: none;
}
