a {
    text-decoration: none;
}

a div p {
    color: black;
}

.bouton {
    display: inline-block;
    background-color: #ffdcba;
    border-radius: 50%;
    margin: 19% 0 0 35%;
    text-align: center;
    width: 30%;
    position: relative;
    z-index: 999;
}
.pk {
    font-size: 2em;
}

.rep {
    font-size: 1.5em;
}

.contenaire {
    display: flex;
    margin-top: 4%;
}

.saviez-vous {
    width: 60%;
    text-align: center;
    margin-left: 1%;
    margin-top: -3%;
}
.img img {
    width: 75%;
    margin-top: -5%;
}
.titre {
    font-size: 2em;
}

b a {
    color: black;
}

.text {
    font-size: 1.5em;
}

.img {
    display: flex;
    flex-direction: column;
    margin-top: -2%;
    margin-left: 10%;
}

.urgence {
    visibility: hidden;
    position: absolute;
    font-size: 6em;
    background-color: white;
    margin: -13% 0 0 -70%;
}

.image img:hover + .urgence {
    visibility: visible;
}

#carrousel {
    position: relative;
    height: 100%;
}
#carrousel ul li {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -0.5%;
}

.pano {
    width: 100%;
    height: 400px;
    margin-top: 6%;
}

.mediaQ {
    display: none;
}

.connexion {
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.connexion a {
    color: black;
}
