@media only screen and (max-width: 1024px) {
    .logo {
        display: none;
    }
    .logoQ {
        width: 100%;
    }

    .test,
    .test1 {
        margin: 0;
        margin-right: 3%;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .baba {
        width: 100%;
        height: 400px;
    }

    .question {
        margin-top: 15%;
    }
    .mediaQ {
        display: block;
    }
}
