.tarif {
    width: 70%;
    margin-left: 15%;
}

.remboursement {
    font-size: 2em;
}

.remboursementText {
    font-size: 1.5em;
}

.assurance {
    width: 100%;
}
.remboursement,
.remboursementText {
    margin-left: 15%;
}
.mediaQ {
    display: none;
}
